@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-colour: #09092c;
}

::-webkit-scrollbar-thumb {
    background: #727070; /* Color of the track */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    * {
    }
    body {
        @apply bg-gradient-to-br from-[#09092c] to-[#634698] text-white;
    }
}
